.footer {
  background: #000;
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
}

.confidentiality,
.footer-right {
  color: var(--white, #fff);
  font-family: "Bricolage Grotesque";
  font-size: 25px;
  font-weight: 400;
}

.logo-dargaud {
  width: 203px;
  height: 23px;
}

.socials {
  display: flex;
  justify-content: space-around;
}
