.footer {
  background: #000;
  display: flex;
}

h3 {
  color: var(--white, #fff);
  font-family: Bokor;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.BD-couverture {
  padding-top: 170px;
  padding-left: 150px;
}

.footer-text {
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 200px;
}

.footer-p {
  color: var(--white, #fff);
  font-family: "Bricolage Grotesque";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reference {
  color: var(--white, #fff);
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  font-weight: 300;
  padding-top: 42px;
  padding-bottom: 42px;
}

.buy-button-footer {
  bottom: 20px;
  right: 20px;
  background-color: #e63946;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  width: 290px;
  height: 87px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Bokor;
  font-size: 48px;
  text-transform: uppercase;
}
