.footer {
  background: #000;
  display: flex;
}

h3 {
  color: var(--white, #fff);
  font-family: Bokor;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.BD-couverture {
  padding-top: 170px;
  padding-left: 150px;
}
