.section-red {
  background: linear-gradient(180deg, #e93f56 1.31%, #050e0b 71.93%);
}

.section-red-p {
  color: var(--white, #fff);
  font-family: "Bricolage Grotesque";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 12px;
  padding-left: 31px;
}

h2 {
  color: var(--white, #fff);
  text-align: center;
  font-family: Bokor;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  width: 1138px;
  height: 381px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  padding-top: 170px;
}

.h2-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.provisoire {
  width: 1376px;
  height: 1156px;
  flex-shrink: 0;
  text-align: center;
}

.h2-2 {
  color: var(--rouge-rose, #e93f56);
  text-align: center;
  font-family: Bokor;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  flex-shrink: 0;
  padding-bottom: 171px;
}
